.footer {
  background: linear-gradient(180deg, rgba(54,54,54,1) 0%, rgba(234,153,237,1) 0%, rgba(107,24,182,1) 100%);   margin-top: 10rem;
  display: flex;
  align-items: center;
  box-shadow:  0 0 8px rgba(122, 122, 122, 0.8);
  justify-content: center;
}

.container {
  width: 90%;
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container p {
  color:rgb(230, 230, 230)
}

.e-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(27, 27, 27); */
  padding: 0.7rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.e-mail:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0.7rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: rgba(107,24,182,1);
  transform: scale(1.1);
}
.e-mail-copied {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
}

.footer-links-container {
  
}

.up-button {
  border-radius: 50%;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  cursor: pointer;
  box-shadow:  0 0 8px rgba(0, 0, 0, 0.8);
  right: 2rem;
}

.up-button:hover {
  border-radius: 50%;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  animation: none
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}